.main_page {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main_page_content {
  width: 80vw;
  height: max-content;
}

.main_page p {
  margin: 0;
  font-family: 'Alike';
}

.main_page .web_title {
  font-size: 64px;
}

.main_page #title_1 {
  color: #ab7662
}

.main_page .web_desc {
  font-size: 22px;
  font-family: 'Poppins';
}

.main_page .btn_order {
  border: none;
  outline: none;
  background-color: #bf856e;
  color: white;
  font-family: 'Poppins';
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.main_page .btn_order:hover {
  cursor: pointer;
  background-color: #a5725e;
}